<% product = cart_item.product %>

<div class="cart-item">  
  <aside><%= link_to product.thumbnail, product_path(product) %></aside>
  
  <section class="product-info">
    <h1><%= link_to product.name, product_path(product) %></h1>
    <p><%= product.reviews_summary %></p>
  </section>

  <section class="price">
    <p>Price:</p>
    <p>
      <%= product.formatted_price %>
      <%= ("<br><span class=\"sale\">" + product.formatted_sale + "</span>").html_safe if product.sale && product.sale < 100 %>
    </p>
  </section>

  <section class="quantity">
    <p>
      <%= form_for cart_item, url: cart_item_path(cart_item), method: "put" do |f| %>
        <%= f.label(:quantity, "Quantity: ") %><br>
        <%= f.text_field(:quantity) %>
        <%= f.submit("Update") %>
      <% end %>
    </p>
  </section>

  <section class="price">
    <p>Total Price:
    <p>
      <%= product.formatted_price(cart_item.quantity) %>
    </p>
  </section>

  <section class="actions">
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
    product_path(product),
    :method => :delete,
    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
    :class => 'btn btn-xs btn-danger' %>
  </section>
</div>
