<%- model_class = Category -%>
<nav> 
  <%= link_to "Back to Homepage", "/", :class => 'btn btn-default' %>
  <p>
    <%= link_to "New Category",new_category_path, :class => 'btn btn-primary' %>
  </p>
</nav>

<article id="category">
  <div class="page-header">
    <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= model_class.human_attribute_name(:name) %></th>
        <th># of Products</th>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @categories.each do |category| %>
        <tr>
          <td><%= link_to category.name, category_path(category) %></td>
          <td><%= category.product_count %></td>
          <td>
            <%= link_to t('.show', :default => t("helpers.links.show")),
                          category, :class => 'btn btn-default btn-xs' %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_category_path(category), :class => 'btn btn-default btn-xs' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        category_path(category),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-xs btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</article>

