<%- model_class = Product -%>
<article>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= model_class.human_attribute_name(:name) %></th>
        <th><%= model_class.human_attribute_name(:picture) %></th>
        <th><%= model_class.human_attribute_name(:description) %></th>
        <th>Price</th>
        <th>Rating</th>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= link_to product.name, product_path(product) %></td>
          <td><%= link_to product.image_tag, product_path(product) %></td>
          <td><%= product.description %></td>
          <td><%= product.formatted_price %></td>
          <td><%= product.number_of_reviews %> Reviews<br>Average: <%= product.average_review %> </td>
          <td>
<!--             <%= link_to t('.show', :default => t("helpers.links.show")),
                        product, :class => 'btn btn-default btn-xs' %> -->
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_product_path(product), :class => 'btn btn-default btn-xs' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        product_path(product),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-xs btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</article>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_product_path,
            :class => 'btn btn-primary' %>
