<nav> <%= link_to "Back to Homepage", "/", :class => 'btn btn-default' %></nav>

<article id="reviews">
  <h1>Listing reviews</h1>

  <table>
    <thead>
      <tr>
        <th>Product</th>
        <th>Comment</th>
        <th</th>
      </tr>
    </thead>

    <tbody>
      <% @reviews.each do |review| %>
        <tr>
          <td style="text-align: center; width: 200px;">
            <%= link_to "#{review.product.name}<br>#{review.product.thumbnail}".html_safe, product_path(review.product) %>
          </td>
          <td style="padding-top: 40px; width: 600px;"><%= render partial: 'reviews/inline_review', locals: { review: review } %></td>
          <td style="padding: 40px">
            <%= link_to 'Edit', edit_review_path(review), :class => 'btn btn-default btn-xs' %><br><br>
            <%= link_to 'Destroy', review, method: :delete, class: 'btn btn-danger btn-xs' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</article>
