<p id="notice"><%= notice %></p>

<p>
  <strong>Comment:</strong>
  <%= @review.comment %>
</p>

<p>
  <strong>Product:</strong>
  <%= @review.product.name %>
</p>

<% if @review.product.nil? %>
	<%= link_to 'Back', reviews_path %>
<% else %>
	<%= link_to 'Back', @review.product %>
<% end %>