<!DOCTYPE html>
<html>
<head>
  <title>Welcome to The Scrubland</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<header>
	<nav id="user-nav">
		<ul>
			<li><%= link_to "View Cart (#{@cart.products.count})", '/cart/' %></li>
		</ul>
	</nav>
	<a href="/"></a>
</header>

<%= yield %>

</body>
</html>
